html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.sectionContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.viewSectionContainer {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  width: 560px;
  justify-content: center;
  align-items: center;
}

.section .header {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}

.section .inputSection {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.section .inputField {
  margin-bottom: 30px;
}

.section .button {
  width: 100%;
  background-color: #0095f6;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.section .buttonText {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.section .image {
  height: 460px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
